@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css);
.formInput{
    width: 100%;
    
    border-top:1px solid white; 
    display:flex;
    justify-content: space-around;
    
}
.textInput{
    width:70%;
    background:none;
    border-radius: 8px;
    border: 1px solid white; 
    padding:10px 15px;
    margin: 4px;
    margin-top: 6px;
    color:white;
}
.textInput:focus{
    border-radius:0px; 
}
.inputSend{
    background-image: url('../../utils/image/send.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 50%;
    background-size: contain;
    width:25px;
    height: 25px;
}

.inputSend:hover{
    background-color: rgb(57, 65, 73);
}