

.chat-container{
    width: 500px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    
    
}

.chat-prompt{
    border: 1px solid rgb(151, 151, 197);
    display: flex;
    margin-bottom: 8px;
    padding: 4px;
    background-color: rgb(26, 63, 184) ;
}
.chat-prompt:hover{
    background-color: dodgerblue;
}